<footer class="d-flex flex-wrap align-items-center">
	<div class="fixed-bottom container d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
		&copy; 2023 All Rights Reserved.
	</div>
</footer>



<!-- JAVASCRIPT SECTION -->
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
